#headerMain {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  height: 10rem;
  img {
    margin-top: 5rem;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      color: #595959;
      text-decoration: none;
      text-decoration-style: none;
      padding: 1rem;
      transition: 0.5s;
      &:hover {
        color: #029082;
      }
    }
  }
}
